{% extends 'base.html' %}

   {% block title %} About {% endblock %}



   {% block body %}
   <head>
	   <title>About</title>
   </head>
		
		<h1 style="text-align: center;padding: 10px; font-size: 50px ;">About our Vertical Tanks</h1>
		<br>
		<p style="font-size:large; padding:10px; margin: 10px;">
			Here at vertical tanks we provided high quality tanks for a very reasonable price. We are currently the industy leader in tanks in the midwest. A picture of one of our tanks is on the home page. If you want to buy a tank and our worried that it might cost to much, go to our estimate page. On our estimate page we estimate the cost. It is super simple all you have to do is enter the height and radius of the tank size you want. Then it will compute the cost and display it back to you in no time at all!
			Are service is second to none, just look at our reviews from our happy customers.
		</p>

		<div class="container">
			<div class="row">
			  <div class="col-sm">
				<h2>Nico Irving</h2>
				<p>I bought a tank from these guys back in 03' and it is still running like the first day I bought it. Tanks Inc. even comes out once every year for the first 10 years
					to make sure everything is still running. I would highly recommend these guys, as they are the best in the industy.
				</p>
			  </div>
			  <div class="col-sm">
				<h2>Ruby-Rose Cooke</h2>
				<p>These guys receive a 10 out of 10 for me. They just finishing installing my tank and I couldn't be happier. I loved that fact that I know
					what price I was going to pay before. Their estimate calcualor on their website is great!
				</p>
			  </div>
			  <div class="col-sm">
				<h2>Artur Weston</h2>
				<p>Super happy with the tank I got installed a two years ago. There was a small problem after a tornado barley hit our farm and these guys were 
					out the very next day to get it all up and running again. Their custmer service is the best!
				</p>
			  </div>
			</div>
		  </div>
	</main>
	
</html>

	{% endblock %}
